Source: debhello
Section: devel
Priority: extra
Maintainer: Tim Chen <timchen@ingrasys.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://timmy00274672.wordpress.com/

Package: debhello
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: This is my demo
